/*
      -Name: McKenna Corn
      -UnityID: mkcorn
      -Date: 11/6/10
      -Assignment: Independent Assignment 5
      -Description: HTML and Styling
 */
 
p {
    font-family: arial;
	font-size: 13px;
	color: #9084FA;
	text-align: center;
}
 
* {
    background-color: #9FBE8F;
}

.table-edit {
    border: 3px solid #D2F7CD;
}

#photo-edit {
    max-width: 200px ;
	max-height: 250px ;
	border: 2px solid #00FF00;
}
